<!-- <script type="text/javascript" src="/js/jquery.scrolldepth.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/js.js"></script> -->
	
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:600,700" rel="stylesheet" type="text/css" /> -->


<!-- <script>
	// scroll down to start of content
	$('#read_start').click(function () {
		$('html, body').stop().animate({
		scrollTop: $('#start').offset().top
		}, 1500);
	});
</script> -->







<section>
	<div class="jumbotron">
		<div class="row justify-content-md-center align-items-center">
			<div class="col-md-6 col-lg-4 align-self-end">
				<img class="img-fluid" src="/images/static/portrait.png">
			</div>
			
			<div class="col-md-6">	
				<h1 class="text-center"> David Burn </h1>	</br>
				<p class="text-center"> Research scientist working in advanced magnetic materials, magnetisation dynamics, spintronics.</p>		
				<p class="text-center"> My research is of fundamental scientific interest and has huge potential for the development of future technological devices.</p>

				<div class="row justify-content-md-center">
					<a class='social' href="http://uk.linkedin.com/in/davidburn1"><img src="/images/social/linkedin.png" height="38" alt="David Burn LinkedIn profile"></a>
				</div>
				<br/>
			</div>
	</div>
</section>





<section>
	<div class="container">

		<div class="row justify-content-md-center  align-items-end">

			<div class="col-sm-8  ">					
				<p class="lead text-center"> My research looks at the behaviour of thin-film and nanostructured magnetic materials </p>
				
				<p class="text-center">	In these materials the interactions between the magnetic and electrical properties are particularly interesting. They allow us to access the spin on the electrons in addition to their charge. This area of research is known as spintronics and has huge potential for the development of novel technological devices for many applications. </p>	
			</div>

			<div class="col-sm-4">
				<img class="img-fluid" src="/images/lcc_2.jpg" alt="Wire bonded sample">
			</div>


		</div>
	</div>
</section>


<br><br>



<section>
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<p> Modern devices such as computers, phones and televisions have become a huge part of our lives. It has taken huge amounts of scientific research and engieering to produce these devices we have today. </p>
			</div>
			<div class="col-md-6">
				<p> Future devices wil make use of the fundamental physical understanding of advanced materials that we are working on today.</p>
			</div>
		</div>
	</div>
</section>











<br/><hr/><br/>

<section>
	<div class="container">
		<h1 class="text-center"> Impact  </h1>	
		<p class="lead text-center"> Research in nanostructured magnetic materials has huge potential to impact on our every day lives</p>
		<div class="row">

			<div class="col-sm-6 col-lg-3 text-center">
				<img class="img-fluid" src="/images/ico_particle.png" alt="magnetic particle" width=150px>
				<p class="lead"> Nanoparticle control </p>	
				<p> On-chip manipulation of biological and chemical species is possible through nanoparticle functionalisation.  </p>
			</div>

			<div class="col-sm-6 col-lg-3 text-center">
				<img class="img-fluid" src="/images/ico_memory.png" alt="magnetic computer chip" width=150px>
				<p class="lead"> Memory &amp; processing </p>
				<p> Discover how future technologies could store and process information in the form of magnetic bits. </p>
			</div>

			<div class="col-sm-6 col-lg-3 text-center">
				<img class="img-fluid" src="/images/ico_sensor.png" alt="magnetic sensor" width=150px>
				<p class="lead"> Advanced sensors </p>	
				<p> High-tech sensors based on magnetic thin films and nanostructures offer new advantages. </p>
			</div>

			<div class="col-sm-6 col-lg-3 text-center">
				<img class="img-fluid" src="/images/ico_question.png" alt="question mark" width=150px>
				<p class="lead"> More </p>	
				<p> Many more applications of nanoscale magnetism and magnetic materials are likely.</p>
			</div>
		</div>
	</div>
</section>

<br/><hr/><br/>


<section>
	<div class="container">
		<h1 class="text-center"> Research Themes </h1>
		<div class="row themes">
				<div class="col-lg-4">
					<h2 class="text-center"> Nanoscale magnetism </h2>
					<p> The magnetisation direction in magnetic structures is determined by various energy contributions. By changing the shape of a structure you gain control over the demagnetisation energy and can induce an anisotropy known as shape anisotropy to favour magnetisation along certain directions. </p>
					<p> Using nanofabrication techniques I have created many systems to manipulate individual domain walls in nanowires as well as exploring their interactions at verticies and more complex artificial spin ice systems.</p>
				</div>
				
				<div class="col-lg-4">
					<h2 class="text-center"> Magnetisation dynamics </h2>
					<p> The dynamic behaviour of magnetic systems is an important factor for the development novel technologcial devices. Our understanding of these dynamics is based on a combination of the damping and precessional behaviour. Magnetisation dynamics happens on the nanosecond timescale or at GHz frequencies in the frequency domain. </p>
					<p> Experiments on dynamic timescales can reveal fundamental understanding about material physics as well as opening avenues for the control of magnetisation dynamic processes.</p>
				</div>
				
				
				<div class="col-lg-4">
					<h2 class="text-center"> X-ray detected magnetism </h2>
					<p> X-rays provide a powerful way to probe the behaviour of magnetic materials. With an energy range covering the transitions with electron shells responsible for magnetism x-rays can provide an element specific and surface sensitive probe of magnetic moments. Even the spin and orbital contributions to these moments can be identified. </p>
					<p> I am experienced in multiple x-ray characterisation techniques such as x-ray circular magnetic dichrosim (XMCD), x-ray magnetic scattering and reflectivity, small angle x-ray scattering (SAXS).</p>
				</div>

		</div>
	</div>	
</section>


<br/><hr/><br/>



<section>
	<!-- <div class="container" ng-controller="papersController"> -->
		<h2> Recent publications  </h2>
	
		<div class="row">
			<div class="col-lg-6" ng-repeat="p in papers|limitTo:4">
				<div class='row'>
					<div class="col-sm-4">
						<img class="hidden-xs img-fluid img-thumbnail" ng-src="/images/papers/{{p.key}}.jpg">
					</div>
					<div class="col-sm-8">
						<p> <b> <a href="#!/publications/{{p.key}}">  {{p.title}} </a> </b></p>
						<p ng-bind-html="p.authors | formatAuthors"></p> 
						<p> <a href="https://doi.org/{{p.doi}}"> <i>{{p.journal}}</i> <b>{{p.volume}}</b>, {{p.page}} ({{p.year}}) </a></p>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<button class="btn btn-primary float-right" ui-sref="publications"> See all publications </button>
			</div>
		</div>
	<!-- </div> -->
</section>




<br/><hr/><br/>




<!-- <section>
    <style>
        flickity{
        display:block;
        position:relative;
        }
        flickity-slide{
            width:270px;
            height:360px;
        margin-right:10px;
        display:flex;
        justify-content:center;
        }
        flickity-slide img {
            width:250px;
        }
    </style>

    <div class="container" ng-controller="presentationsController">
        <h1 class="text-center"> Look out for my work </h1>
        <p class="lead"> Presented frequently at magnetism conferences, both in the UK and internationally. </p>
        <br>

        <flickity options='{"pageDots":false,"selectedAttraction":0.01,"friction":0.15, "freeScroll":true}'>
            <flickity-slide ng-repeat="p in presentations">
                <img class="img-rounded img-thumbnail" ng-src="/images/presentations/{{p.key}}.jpg" alt="{{p.title}}">
            </flickity-slide>
        </flickity>
    </div>
    <br>
</section> -->


<section>
    <style>
        flickity{
        display:block;
        position:relative;
        }
        flickity-slide{
            width:80%;
            height:400px;
        margin-right:10px;
        display:flex;
        justify-content:center;
        }
        flickity-slide img {
            width:100%;
        }
    </style>

    <!-- <div class="container" ng-controller="presentationsController"> -->

		<br>
		<div class="row">
			<div class="col-lg-6 text-center">
				<h1> Look out for my work </h1>
				<p class="lead"> Presented frequently at magnetism conferences, both in the UK and internationally. </p>
				<button class="btn btn-outline-primary" ui-sref="presentations"> More of my presentations </button>
			</div>
			<div class="col-lg-6">
				<flickity options='{"pageDots":false,"selectedAttraction":0.01,"friction":0.15}'>
					<flickity-slide ng-repeat="p in presentations">
						<img class="img-rounded img-thumbnail" ng-src="/images/presentations/{{p.key}}.jpg" alt="{{p.title}}">
					</flickity-slide>
				</flickity>
			</div>

		</div>



        <!-- <div class="row justify-content-md-center">
            <button id="btn_view_pres" type="button" class="btn btn-primary">Find out more</button>
        </div> -->
    <!-- </div> -->
</section>






<br/><hr/><br/>




<section id="about">
<div class="container">

	<h1  class="text-center"> My background</h1>
		
		
	<div class="row justify-content-center">
		<div class="col-md-2">
			<img class="rounded img-fluid" src="/images/tl_diamond.jpg" alt="">
		</div>
		<div class="col-md-6 col-lg-5">
			<h2>  Diamond Light Source </h2>
			<p> I am currently doing research on magnetisation dynamics, devleoping time-resolved energy specific techniques to probe the magnetisation in magnetic thin films and nanostructures.</p>
		</div>
		<div class="col-md-3"></div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<img class="rounded img-fluid" src="/images/tl_queens_tower.jpg" alt="">
		</div>
		<div class="col-md-6 col-lg-5">
			<h2> Imperial College London </h2>
			<p>At Imperial College London I worked in the functional magnetism group exploring the magnetic and electronic properties of interconnected magnetic nanostructures in artificial spin ice geometries.</p>
		</div>
		

	</div>

		
	<div class="row justify-content-center">
		<div class="col-md-2">
			<img class="rounded img-fluid" src="/images/tl_cathedral.jpg" alt="">
		</div>
		<div class="col-md-6 col-lg-5">
			<h2> Durham University </h2>
				<p>Previously I did my PhD at Durham University on the interactions between nanowire structuring and the micromagnetic structure of domain walls. I've looked in detail at the difference between micromagnetic domain walls structures in their static and dynamic regimes.</p>
		</div>
		<div class="col-md-3"></div>
	</div>
		
		
	<div class="row justify-content-center">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<img class="rounded img-fluid" src="/images/tl_bridge.jpg" alt="">
		</div>
		<div class="col-md-6 col-lg-5">
					<h2> Durham University </h2>
					<p>I was also at Durham University as an undergraduate studying Physics. My final year masters project was investigating magnetisation dynamics in thin-film structures.</p>
		</div>
	</div>	
		
	
</div>
</section>




 
 
