<br><br>

<section class="container">

    <div class="row" ng-repeat="n in news" >
        <div class="col-sm-3" > 
            <img class="rounded img-fluid img-thumbnail" ng-src="/images/news/{{n.key}}.png" alt="{{n.title}}">
        </div>
        
        <div class="col-sm-9 d-flex flex-column justify-content-between">
            
            <div> 
                <h2><a href="{{n.link}}">{{n.title}} </a></h2>
                {{n.publisher}}
                <br>

                <a href="/publications/{{n.publication}}" ng-bind-html="papersObject[n.publication].title | formatLatex"></a>


            </div>
        </div>


        <div class="col-sm-12" > 
            <hr>  
        </div>
        
    </div>

    

</section>






  




    
    
    